.budget_div {
  margin: 10px auto;
  background-color: #ffffff;
  width: fit-content;
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 10px;
  border-radius: 20px;
}
.budget_div h3 {
  margin-bottom: 10px;
}
.budget_div p {
  margin-bottom: 20px;
  font-size: 14px;
}
.radiobox_div {
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto;
}
