@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    margin :40px;
    background-color: #f7f7fb;
}
input{
    font-family: 'Poppins', sans-serif;
}

.progressbar_div{
    margin: 10px auto;
    width: fit-content;
}